header {
  position: relative;
}
main {
  display: flex;
  position: relative;
  transition: all 800ms ease;
  margin-top: 22px;
}
.schedule {
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  transition: all 800ms ease;
}
.back {
  position: absolute;
  top: 0%;
  left: 10px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}
.back img {
  width: 20px;
}
.back:hover {
  color: var(--main-color);
}
.img_bg {
  position: absolute;
  background-image: url("../imgs/img1.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
}
.header_container {
  padding-bottom: 2em;
  padding: 10px;
  transition: all 250ms ease;
}
.my_social-icons a img {
  width: 18px;
  padding-right: 5px;
}
.logo img {
  width: 40px;
  margin-top: 10px;
  transition: all 800ms ease;
}
.logo h1 {
  color: #ffffff;
  /* color: var(--main-color); */
  font-family: var(--arial-black);
  font-size: 7vw;
  transition: all 800ms ease;
}
/* Footer */
footer {
  background: rgba(0, 0, 0, 0.05);
  color: #333;
  display: -webkit-box;
  padding: 2em 0;
}
.footer_container {
  margin: 0 auto;
}
.footer_container {
  line-height: 1.4;
}
.footer_container h3 {
  text-align: center;
}
.footer_container .info {
  font-size: 1rem;
}
.footer_container span {
  font-size: 0.9rem;
  color: #333;
  position: relative;
  transition: all 800ms ease;
}
.footer_container span::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--main-color);
  transform: scale(0);
  transform-origin: right;
  transition: all 350ms ease-in;
}
.footer_container span:hover {
  color: var(--main-color);
}
.footer_container span:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.footer_container .my_social-icons {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 600px) {
  /* Header */
  .my_social-icons a img {
    width: 20px;
  }
  .logo img {
    width: 60px;
  }
  .logo h1 {
    font-size: 43px;
  }
}
@media (min-width: 1100px) {
  /* Header */
  .my_social-icons a img {
    width: 22px;
  }
  .logo img {
    width: 80px;
  }
  .logo h1 {
    color: var(--main-color);
  }
  main {
    margin-top: 0;
  }
  .footer_container .info {
    font-size: 1.2rem;
  }
  .footer_container span {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .logo h1 {
    font-size: 3vw;
  }
}
