/* Header */
header {
  position: relative;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.05);
}
.img_bg {
  position: absolute;
  background-image: url("../imgs/img1.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 500ms ease;
  width: 100%;
  height: 24%;
  background-blend-mode: multiply;
}
.header_container {
  padding-bottom: 2em;
  padding: 10px;
  transition: all 250ms ease;
}
.my_social-icons a img {
  width: 18px;
  padding-right: 5px;
}
.logo img {
  width: 40px;
  margin-top: 10px;
  transition: all 800ms ease;
}
.logo h1 {
  /* color: #ffffff; */
  color: var(--main-color);
  font-family: var(--arial-black);
  font-size: 1.5rem;
  transition: all 800ms ease;
}
.learn_more {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--playfair);
  margin-top: 20vh;
  transition: all 800ms ease;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(24, 110, 150, 0.304359243697479) 0%,
    rgba(24, 110, 144, 0.7) 100%
  );
  box-shadow: 5px 5px 7px rgba(24, 110, 150, 0.8);
  border-radius: 10px;
  height: 250px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.learn_more h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.learn_more h3 {
  margin-bottom: 1em;
}
.learn_more a {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 800ms ease;
  font-size: 0.9rem;
}
.learn_more a:before,
.learn_more a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--main-color);
  transition: 400ms ease all;
}
.learn_more a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.learn_more a:hover {
  background: #fff;
  color: var(--main-color);
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.5);
}
.learn_more a:active {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.learn_more a:hover:after,
.learn_more a:hover::before {
  width: 100%;
}
/* Main */
main {
  transition: all 800ms ease;
}
.section {
  text-align: center;
}
.service_img {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 1.5em 0;
  background-image: url("../imgs/img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.sect {
  position: relative;
  height: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 2em auto;
  max-width: 300px;
  transition: all 800ms ease;
}
.sect img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-47px);
  width: 40px;
  transition: all 800ms ease;
}
.sect h4 {
  align-self: center;
  transition: all 800ms ease;
}
.sect p {
  font-size: 0.9rem;
  transition: all 800ms ease;
}
.service_body ul li:nth-child(1) h4 {
  color: #4c76be;
}
.service_body ul li:nth-child(3) h4 {
  color: #4ec8fb;
}
.service_body ul li:nth-child(4) h4 {
  color: #2a87c9;
}
.service_body ul li:nth-child(5) h4 {
  color: #ed462f;
}
.service_body ul li:nth-child(2) h4 {
  background: -webkit-linear-gradient(#f49c4e, #8c45a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 700px) {
  /* Header */
  .my_social-icons a img {
    width: 20px;
  }
  .logo img {
    width: 60px;
  }
  .logo h1 {
    font-size: 45px;
  }
  .learn_more h2 {
    font-size: 1.5rem;
  }
}
@media (min-height: 600px) {
  main {
    transform: translateY(-20px);
  }
}
@media (max-width: 1100px) and (orientation: landscape) {
  /* Header */
  .img_bg {
    height: 35%;
  }
}
@media (min-width: 1100px) and (orientation: landscape) {
  /* Header */
  .header_container {
    padding-left: 4em;
  }
}
@media (min-width: 1100px) {
  /* Header */
  .img_bg {
    height: 100%;
    background-blend-mode: normal;
  }
  .my_social-icons a img {
    width: 22px;
    margin-right: 10px;
  }
  .logo img {
    width: 80px;
  }
  .logo h1 {
    color: var(--main-color);
    font-size: 60px;
  }
  .learn_more {
    text-align: left;
    display: block;
    background: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: black;
    box-shadow: none;
  }
  .learn_more h2 {
    font-size: 25px;
  }
  .learn_more h3 {
    font-size: 20px;
  }
  .learn_more a {
    font-size: 1rem;
  }
  /* Main */
  .service_img {
    font-size: 1.5rem;
  }
  .sect {
    height: 110px;
    max-width: 360px;
  }
  .sect img {
    transform: translateY(-50px);
    width: 50px;
  }
  .sect h4 {
    font-size: 1.2rem;
  }
  .sect p {
    font-size: 1rem;
  }
}
